<div class="sidebar-fixed position-fixed">
  <a class="logo-wrapper waves-effect">
    <img src="../../assets/img/logo-fra-large.png" class="img-fluid" alt="">
  </a>

  <div class="list-group list-group-flush">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="list-group-item list-group-item-action waves-effect">
      <i class="fa fa-pie-chart mr-3"></i>Sales
    </a>
    <a routerLink="/inventory" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
      <i class="fa fa-user mr-3"></i>Inventory
    </a>
  </div>

</div>
